In [10]:
dic = {1: 'a'}
dic[2] = 'b'
dic['su'] = 'do'
dic

{1: 'a', 2: 'b', 'su': 'do'}

In [11]:
del dic[1]
dic

{2: 'b', 'su': 'do'}

In [12]:
dic['2'] = 100
dic

{2: 'b', 'su': 'do', '2': 100}

In [23]:
dic = {'name':'hong', 'age':70, 'weight': 908, 'age':99}
dic2 = dict(age=250, name = "f")
dic3 = dict(zip(['age','name'],[25, 'hong']))
dic4 = dict([('man', 'hong'),('age',25)])
dic5 = dict({'man': 'hong','age':25})
# dic6 = dict('addr':['seoul', 'busan'])
print(dic)
print(dic2)
print(dic3)
print(dic4)
print(dic5)
# print(dic6)

SyntaxError: invalid syntax (41818835.py, line 6)

In [32]:
print(dic.keys())
print(dic.values())
print(dic.items())
print(list(dic.keys()))
print(list(dic.values()))
print(list(dic.items()))
dic.clear()
dic

dict_keys(['name', 'age', 'weight'])
dict_values(['hong', 99, 908])
dict_items([('name', 'hong'), ('age', 99), ('weight', 908)])
['name', 'age', 'weight']
['hong', 99, 908]
[('name', 'hong'), ('age', 99), ('weight', 908)]

{}

In [45]:
dic={'name':'hong','age':25,'bt':'O'}
print(dic['name'])
print(dic.get('name'))
print(dic.get('addr','seoul'))
if('name' in dic):
    print('hull')
print(len(dic))

hong
hong
seoul
hull
3

In [53]:
s1 = set([1,2,3,1,2,3]) # 집합이지만 중복을 제외한 유니크한 데이터만 출력함.
s2 = set("multicampus ai")
print(s1)
print(s2)
s2 # set은 순서가 없이 저장됨. 즉 인덱싱하여 데이터를 탐색할 수 없음.

{1, 2, 3}
{'c', 'l', 's', ' ', 't', 'm', 'i', 'p', 'a', 'u'}

{' ', 'a', 'c', 'i', 'l', 'm', 'p', 's', 't', 'u'}

In [69]:
s1=set([5,4,3,2,1])
s2=set([15,14,13,2,1])
print(s1 & s2)
print(s1 | s2)
print(s1.union(s2)) # 합집합
print(s1-s2)
print(s1.difference(s2)) # 차집합
s1.add(88)
print(s1)
s1.update([100,200,300])
print(s1)
s1.remove(1)
print(s1)
id(s1) # 메모리 주소 확인. 변수를 초기화시 계속 바뀜

{1, 2}
{1, 2, 3, 4, 5, 13, 14, 15}
{1, 2, 3, 4, 5, 13, 14, 15}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 88}
{1, 2, 3, 4, 5, 100, 200, 300, 88}
{2, 3, 4, 5, 100, 200, 300, 88}

2527833193856

In [83]:
from copy import copy

a = [10,20]
b = copy(a)
print(id(a))
print(id(b))
print(a is b) # 메모리 주소가 같은지?

2527854028288
2527853323264
False

In [86]:
money = 2000

if money >= 5000:
    print("택시!!")
    print("나는 부자~")
else:
    print("버스...")
    print("굶는다...")

버스...
굶는다...

In [97]:
money = 2000
card = True
if money >= 3000:
    print("택시!!")
elif card:
    print("나는 부자~")
else:
    print("뚜벅이...")
    print("굶는다...")

나는 부자~

In [107]:
if '10' in [10,20,30]:
    print('wow')
else:
    print('sure')
print('o' in 'hello')

sure
True

In [108]:
poc = ['card', 'cellphone']
if('card' in poc):
    print('택시')
elif('money' in poc):
    print('버스')
else:
    print('도보')

택시

In [109]:
score = 90

if score >= 60:
    res = "합격"
if score < 60:
    res = "불합격"
res

'합격'

In [112]:
score = 50
res2 = '합격' if score >=60 else "불합격"
res2

'불합격'

In [134]:
x = 4;y = x if x == 5 else 0;y

0

In [135]:
st = """
#참에 해당하는 경우
True
[1,2,3]
(1,2)
{'a':1}
1

#거짓(False)에 해당하는 경우
{}
[]
()
0
None
"""

if None:
    print('참')
else:
    print("거짓")

거짓

In [145]:
for i in reversed(range(5)):
    print(i, end='')

43210

In [146]:
# loop = int(input("반복 횟수? "))
# for i in range(loop):
#     print('hello:'+str(i))


# for i in range(int(input("반복 횟수? "))): # 다른 경우
#     print('hello:'+str(i))

l = range(int(input('반복 횟수? ')))
for i in l:
    print('hello:',i)

hello: 0
hello: 1
hello: 2

In [157]:
score = [90, 80, 70, 60, 50, 100]

# for i,s in enumerate(score):
#     if(s > 60):
#         print(str(i+1)+"번 학생 합격입니다")

num = 1
n = 1
for s in score:
    if(s > 60):
        print("%d번 학생 합격입니다" % (num))
    num += 1

1번 학생 합격입니다
2번 학생 합격입니다
3번 학생 합격입니다
6번 학생 합격입니다

In [158]:
num=0
for s in score:
    num+=1
    if s<=60:
        continue
    print("%d번 학생 합격입니다" % num)

1번 학생 합격입니다
2번 학생 합격입니다
3번 학생 합격입니다
6번 학생 합격입니다

In [160]:
for i in range(2,20,2):
    print(i, end=' ')

2 4 6 8 10 12 14 16 18

In [168]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [171]:
x = [1,2,3]
res = [n*2 for n in x]
res

[2, 4, 6]

In [181]:
x = [1,2,3]
res2 = [n for n in x if n>=2]
res2

[2, 3]

In [189]:
1%3

1

In [ ]:
nums = list(range(1,101))
li = [n for n in nums if n%3==0] # 리스트 컴프리핸션
li

In [ ]:
[i*j for i in range(2,10) for j in range(1,10)] # 이중 for문 한줄작성

In [225]:
import random
for i in range(6):
    print(random.randrange(1,45))

3
7
15
15
25
14