In [1]:
print('1\n2\n')

1
2

In [9]:
cnt = int(input())
for i in range(cnt):
    cnt1, str_value = input().split()
    cnt1, str_value = int(cnt1), list(str_value)
    for j in range(len(str_value)):
        for k in range(cnt1):
            print(str_value[j], end='')
    print()

aaabbbccc
/////hhhhhtttttppppp

In [19]:
'test' and True

True

In [22]:
'test' or True

'test'

In [27]:
x = 'Python isn\'t difficult'
x

"Python isn't difficult"

In [10]:
st = 'i love python'
st.split('python')

['i love ', '']

In [29]:
x = "he said \"Python is easy\""
x

'he said "Python is easy"'

특수문자 앞에 \ 를 사용하면 특수문자가 그대로 표기됨.

In [32]:
x="Life is too short, You need Python"
x

'Life is too short, You need Python'

In [33]:
x="Life is too short, You need Python"
x[:4]

'Life'

In [40]:
x = "20240227Sunny"
y = x[:4]
m = x[4:6]
d = x[6:8]
w = x[9:]

'02'

In [48]:
x = "i eat %d apples" % 2
x = "i eat %s apples" % 'two'
x = "i eat %s apples %d" % ('two',3)
x = "i eat %s apples %d%%" % ('two',3)
x

'i eat two apples 3%'

In [51]:
"%10s"%"hi" # 총 10칸중 8칸 좌공백, hi가 2칸
"%-10s"%"hi" # 총 10칸중 8칸 우공백, hi가 2칸

'hi        '

In [6]:
"i {1} eat {0} apples".format(2, 5)
# "i {num} eat {su} apples".format(su = 3, num = 4)

'i 5 eat 2 apples'

In [5]:
"{:<10}".format('hi')
"{:>10}".format('hi')
# "{:^10}".format('hi')
# "{:-^10}".format('hi')
# "{:=^10}".format('hi')

'        hi'

In [66]:
x = 3.141592
"{0:0.3f}".format(x)

'3.142'

In [72]:
name = '홍길동'; age = 4

In [73]:
f"나의 이름은 {name}이며, 나이는 {age+10}이다."

'나의 이름은 홍길동이며, 나이는 14이다.'

In [77]:
dc = {'name': '홍길동', 'age': 25}
f'이름은 {dc["name"]} 나이는 {dc["age"]}'

'이름은 홍길동 나이는 25'

In [81]:
x = 'name'
x.count('n')
x.find('m')
x.index('e')

3

In [82]:
'.'.join('hi')

'h.i'

In [83]:
x = 'hi'
x.upper()

'HI'

In [84]:
x = 'HELLO'
x.lower()

'hello'

In [86]:
x = '   f     s  df  '
x.strip()

'f     s  df'

In [87]:
x = 'multi'
x = x.replace('multi', 'single')
x

'single'

In [91]:
x="abc def ghi:jkl:mno"
x.split(':')

['abc def ghi', 'jkl', 'mno']

In [98]:
x = "대한민국 코리아 한국"
x = x.split()
x[0]
x[1]
x[2]
# print(len(x))

'한국'

In [2]:
x = "대한민국 코리아 한국"
x.find('코리아')
x.index('코리아')

5

In [5]:
x = [1, 1.2, 'test', True]
print(x)
for i in x:
    print(type(i))

[1, 1.2, 'test', True]
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
x = list()
x

[]

In [7]:
x = []
x

[]

In [13]:
list(range(5))
list(range(5,20,2))
list(range(25,2,-2))

[25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3]

In [14]:
x=[1, 2, 'life', ['python',3,4,5],6,[7,8]]
x

[1, 2, 'life', ['python', 3, 4, 5], 6, [7, 8]]

In [21]:
x = [10, 20]
y = [100, 200, 300]
x + y

[10, 20, 100, 200, 300]

In [34]:
x.append(y)

In [35]:
x

[10, 20, [100, 200, 300]]

In [79]:
x.remove(20)
x

[10, [100, 200, 300]]

In [85]:
x = [1,2,3,4,4,3,4]
x.count(4)

3

In [86]:
x = x+[10, 20]
x

[1, 2, 3, 4, 4, 3, 4, 10, 20]

In [87]:
x.extend([30,40])
x

[1, 2, 3, 4, 4, 3, 4, 10, 20, 30, 40]

In [109]:
x = 3,
type(x)

tuple

In [111]:
x = 1,2,3
# del x[2]

TypeError: 'tuple' object doesn't support item deletion

In [119]:
x = 1,2,3,4
print(type(x))
x2 = list(x)
x2[1] = 200
print(x2)
x3 = tuple(x2)
print(x3)

<class 'tuple'>
[1, 200, 3, 4]
(1, 200, 3, 4)

In [123]:
tu = tuple(range(10,51,10))
li = list(range(10,51,10))
print(tu)
print(li)

tu = list(tu)
li = tuple(li)
print(tu)
print(li)

(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
(10, 20, 30, 40, 50)

In [126]:
x = [10, 20, 30]
a, b, c = x
a

10

In [128]:
x = 10, 20, 30
a, b, c = x
b

20

In [142]:
x = list(range(10,50,10))
print(10 in x) # 있는지 확인
print(100 in x) 
print(100 not in x) # 없는지 확인

True
False
True

In [144]:
y = tuple(range(10,50,10))
10 in y

True

In [149]:
[1,2] + [3,4]
# range(1,3) + range(3,5) 이건 안됨
list(range(1,3)) + list(range(3,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
len('안녕하세요') # 이렇게 작성하면 글자당 1바이트??취급

5

In [152]:
len('안녕하세요'.encode('utf-8')) # utf8의 한글은 3바이트로 측정함.

15

In [167]:
x = list(range(0,100,10))
x[:8]
x[:8:3]
x[2:9:2]

[20, 40, 60, 80]

In [169]:
y = x[8::-2]
y

[80, 60, 40, 20, 0]

In [173]:
x = "hihello"
x[1:5:2]

'ie'

In [175]:
x = list(range(10,100,10))
x[2:5] = ['a', 'b', 'c']
x

[10, 20, 'a', 'b', 'c', 60, 70, 80, 90]

In [3]:
x = list(range(10,100,10))
x[2:5] = 'k'
x

[10, 20, 'k', 60, 70, 80, 90]

In [7]:
del x[2:4]
x

[10, 20, 70, 80, 90]

In [11]:
kor = 37
eng = 82
mat = 90
sci = 88

(kor>=50) and (eng>=50) and (mat>=50) and (sci>=50)

False

In [15]:
a,b,c = map(int,input().split())
print(a+b+c)
print(a-b-c)
print(a*b*c)

6
-4
6

In [47]:
A="""[서울=뉴시스]이인준 기자 = 챗GPT 같은 생성형 AI를 통해 한국의 기업 생산량이 최대 620조원(4763억달러) 증가할 수 있다는 분석이 제기됐다.

대한상공회의소가 28일 마이크로소프트, 영국 컨설팅그룹 엑세스파트너십과 함께 발간한 '생성형 AI가 한국경제에 미치는 영향 보고서'에 따르면 생성형 AI 적용에 따른 한국 경제의 잠재적 생산역량(productive capacity)은 지난해 국내총생산(GDP) 2150조6000억원(명목) 대비 29%에 달한다."""
print(A)
A.find('이인준')
print(A[8:11])
A.index('620')
print(A[51:54])
A.index('29%')
print(A[252:255])
print(A.find('짬뽕'))
# print(A.index('짬뽕'))

[서울=뉴시스]이인준 기자 = 챗GPT 같은 생성형 AI를 통해 한국의 기업 생산량이 최대 620조원(4763억달러) 증가할 수 있다는 분석이 제기됐다.

대한상공회의소가 28일 마이크로소프트, 영국 컨설팅그룹 엑세스파트너십과 함께 발간한 '생성형 AI가 한국경제에 미치는 영향 보고서'에 따르면 생성형 AI 적용에 따른 한국 경제의 잠재적 생산역량(productive capacity)은 지난해 국내총생산(GDP) 2150조6000억원(명목) 대비 29%에 달한다.
이인준
620
29%
-1

In [61]:
a = 'Mississipi'.upper()
# print(a.count('h'))
check = 0
now = None
eng = None
for i in a:
    # print(a.count(i))
    if(check < a.count(i)):
        check = a.count(i)
        now = i
        eng = None
    elif(check == a.count(i)):
        if(now == i):
            eng = i
print(check)
if(eng != now):
    print('?')
else:
    print(i)

4
I