In [ ]:
# 결측치같은 경우는 주로 KNN이 괜찮은 것 같다고 하심

In [ ]:
# 국영수가 80 95 90일때 수능 점수를 무슨 모델로 예측할 수 있을까? = 의사결정 트리, (다중)선형회귀, svm,...으로 가능함
# 트리와 svm 등에는 regression이 있음
# 7교재에 3페이지 그림에 있는 시그마 옆의 기호는 시그모이드 기호(σ)임. 결국 저렇게 분류를 한다는 말임
# 베니싱 경사 문제(vanishing gradient problem)
# 뉴럴 네트워크는 선형회귀에서 출발함
# 인공신경망을 ANN이라고도 함(nn == ann)
# https://sehooni.github.io/dl/ANN,DNN,CNN,RNN/  해당 주소 참고
# and, or은 하나의 직선으로 분류가 가능했으나 XOR의 경우 분류가 되지 않았음.
# 이에 따라 nn의 필요성을 인지하며 모델을 개발하기 시작함
# 분류모델은 결국 필요한 활성화함수로 시그모이드, 소프트맥스가 들어가야함

# 사람의 이미지를 개의 이미지로 나오게 했다면? = 가중치를 변경해야됨
# 결과에 대해서 미분을 취하면 각 가중치가 얼마나 영향을 끼쳤는지 알 수 있게 되며 
# 다시 처음의 구간까지 돌아가 가중치를 수정하게 되는데 이것을 backpropagation(역전파)이라고 함
# https://wikidocs.net/37406  역전파, 순전파에 대해서 나와있는 교재이므로 참고하면 될 듯
# 미분은 에러를 줄이기 위해 가중치를 업데이트 한다고만 알고 있어도 됨..

https://velog.io/@dahara3/%EB%B0%91%EC%8B%9C%EB%94%A5-1-Chapter-3.-%EC%8B%A0%EA%B2%BD%EB%A7%9D
신경망 설명

In [14]:
# 데이터마이닝 - 연관규칙(association rules)
# https://velog.io/@sohtks/Recommendation-System-Association-Rule-Mining-%EC%97%B0%EA%B4%80-%EA%B7%9C%EC%B9%99
# https://myeonghak.github.io/recommender%20systems/RecSys-%EC%97%B0%EA%B4%80-%EA%B7%9C%EC%B9%99-%EC%B6%94%EC%B2%9C-(Association-Rule)/
# 블로그에 관련 설명이 있음
# 추가로 대학원에서 진행하는 내용이라고 하심(?난 왜 3학년 때 배움)
# 동시 구매가 예상되는 아이템을 찾을 수 있는 규칙을 찾는 것
# 기저귀를 산 사람이 맥주를 사더라(?)
# 우유와 빵을 사는 사람은 달걀과 콜라를 사더라
# 맥주와 빵을 사는 사람은 우유를 사더라
# 위와 같은 규칙을 찾는 것임

# 위와 같은 규칙을 발견하면 어떻게 하면 좋을까? = 비슷한 코너에 배치, 진열대 옆에 배치, 세트로 판매 등등..
# 그럼 기저귀 가게가 파업했다고 가정했을 때, 영향을 받는 제품이 무엇일까? = 위와 같은 상황이었다면 맥주의 판매량도 떨어질 것으로 예측


# TID   Items
# 1     Bread, Milk
# 2     Bread, Diaper, Beer, Eggs
# 3     Milk, Diaper, Beer, Coke 
# 4     Bread, Milk, Diaper, Beer
# 5     Bread, Milk, Diaper, Coke 


# 한가지 이상의 아이템을 모은 것을 아이템셋(itemset)이라고 함 
# support는 '지지도'라고 부름. 이는 지정된 아이템들이 포함된 아이템셋이 몇개인지에 따라 표현이 바뀜.
# 하나의 아이템들을 트랜잭션이라고 하며 비율을 계산할 때는 지지도 개수가 2건, 트랜잭션이 5건이면 지지도는 2/5=0.4로 계산이 됨
# frequent itemset(빈발 항목 집합): 최소 임계값 이상(직접 설정해야됨)
# 편의점에서 물이나 담배같은 물품, 음료 등은 거의 지지도가 0.1이상은 됨
# 연관규칙은 일정 거래 이상이 되는 물품에 대해서 적용하는 것임. 벌초물품같은 경우는 자주 사용하지 않으므로 연관규칙을 적용하지 않음
# 반대로 담배살때 라이터도 사더라! 하는 것은 무시해야됨.
# 결국 데이터 마이닝은 인사이트(insight)를 얻기 위해서 하는 것

# X -> Y
# {우유, 기저귀}(X임) -> {맥주}(Y임)
# 위와 같은 케이스를 보자면 우유, 기저귀, 맥주를 모두 포함하는 지지도를 구하는 것으로 s = 우유, 기저귀 & 맥주 포함누적계산 = 2/5
# 수식으로는 S(X->Y)라고 할 수 있음
# C(X->Y)도 있는데 이는 '신뢰도'(Confidence)라고 함
# x가 있는 리스트에서 Y도 있는 경우를 계산하는 것임
# 위 아이템 셋을 봤을 때는 TID 3, 4, 5가 X에 해당하며 4,5가 Y도 포함되어 있는 경우로, 2/3(66.67%)으로 계산됨
# 연관분석에서는 순서를 안봄(순서가 저장되지 않음)

# 트랜잭션 T가 주어졌을 때 목표는 다음과 같음
# 지지도 >= 최소 지지도 임계값
# 신뢰도 >= 최소 신뢰도 임계값

# 서로 다른 종류의 아이템을 가진 5개 항목이 있을 때 생성 가능한 모든 조합(1개~5개 묶인 조합까지)은 32개임
# 이에 대해서 계산 복잡도를 계산하는 방법은 다음과 같음
# 3^d - 2^d+1 + 1 => 3**5 - 2**6 + 1 이렇게 된다고 볼 수 있음(총 180가지 규칙이 있음)
# 만약 1000가지 품목에 대해서 규칙을 보려고 한다면 d에 1000을 대입하면 되는데...컴퓨터로 할 수 없는 영역임...(단순연산이면 모르겠지만)

# cde가 빈발항목이라면 minsup(최소지지도) = 0.1(직접 설정)보다 크면 frequent itemset임
# 예시로 {물,우유,라면}이 빈발아이템이라면 minsup보다 크거나 같다면 물이라는 항목만 두고 봤을 때는 0.1보다 큰가? = 당연히 맞음
# 혹여나 최소지지도보다 작은 항목들이라면 Pruned supersets(가지치기)를 하여 계산하지 않으면 됨
# 예시로 abcde가 있는데 ace가 0.1을 충족하지 못한다면, a,c,e가 포함된 모든 항목을 제외하고 계산하면 됨
# 위와 같은 것이 apriori라고 함
# 물론 위의 기능을 하는 모델이 있으므로 최소 지지도를 지정해주면 알아서 해결해줌
# 이런 모델은 보통 '내가 우유를 사고 뭘 사려고 했더라?' 할때 서포트 해주는 것임

# 궁극적으로는 lift(향상도)를 찾기 위해서 위의 내용을 배우고 구한 것임
# lift = X -> Y / Y == P(X|Y)/P(Y) => x:기저귀, y:맥주일때, P(기저귀|맥주)(맥주를 샀을때 기저귀도 사는 비율)/P(기저귀)(기저귀를 산 비율)
# 총 100건, 맥주를 10건, 기저귀 5건, 맥주를 샀을 때 기저귀 2건이라면 다음과 같이 계산함
# (2/10)/(5/100) => 0.2/0.05 => 4
# 일반 고객들이 기저귀를 구매한 비율 대비 맥주를 구매한 고객들 중에 기저귀를 구매한 비율에 대한 비율 을 의미함
# 만약 값이 1이라면? 관계가 거의 없는 것임
# 위는 4라는 결과가 나왔는데 4라면 연관성이 매우 높다!라고 할 수 있음.(일반사람 대비 4배나 비율이 높다는 것임)
# 정확히는 1을 넘으면 관련이 있다고 보기는 한데, 1보다 조금 크면 유의해야함.

# 향상도의 공식을 보면 c(x->y)/s(y) = lift(x->y) 임

# 연관규칙(lift가 1보다 큰 규칙 발견)
# minConf, minSup값 설정
# Apriori 알고리즘 -> 연관 규칙 생성
# lift를 기준 내림차순 정렬 -> 연관규칙 추출
# 마케팅 단계...
# 위와 같은 수순으로 진행됨

In [31]:
!pip install mlxtend # 파이썬에서 많이 쓰이는 패키지이며 연관관계를 도출하기 위한 용도로 쓰임

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
     ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
     ------------ --------------------------- 0.5/1.4 MB 9.6 MB/s eta 0:00:01
     ------------------------------- -------- 1.1/1.4 MB 12.1 MB/s eta 0:00:01
     ---------------------------------------- 1.4/1.4 MB 11.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.2 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: packaging>=20.0 in c:\users\fkfma\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\fkfma\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.7)
Requirement already satisfied: pytz>=2020.1 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in c:\users\fkfma\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

WARNING: Ignoring invalid distribution -rotobuf (c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fkfma\appdata\local\programs\python\python310\lib\site-packages)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

https://www.kaggle.com/code/burakbuyukyagmur/association-rules-with-apriori
# 라이브러리 가져오기|

In [32]:
from mlxtend.frequent_patterns import apriori, association_rules

In [44]:
import pandas as pd
import numpy as np

df = pd.read_csv('GroceryStoreDataSet.csv', names=['products'], sep=',')
df # 현재 sep를 설정했음에도 구분이 안되는데 이런 경우는 열이 한개이기 때문에 데이터가 분리되지 않는 것임

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

# 데이터 전처리

In [47]:
data = list(df.products.apply(lambda x:x.split(',')))
data # 2차원 구조로 변경해줘야 함.
# data에 있는 하나의 행이 트랜잭션임

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

# 트랜잭션인코더로 인코딩

In [48]:
from mlxtend.preprocessing import TransactionEncoder

In [49]:
te = TransactionEncoder()

In [50]:
trans_data = te.fit(data).transform(data)
trans_data # n번째 트랜잭션에서 해당 아이템이 있을 경우 True를 의미함
# te.columns_를 사용하면 해당 True값의 데이터가 무엇인지 알 수 있음

array([[ True, False,  True, False, False, False, False, False,  True,
        False, False],
       [ True, False,  True, False, False,  True, False, False,  True,
        False, False],
       [False,  True,  True, False, False, False, False, False, False,
        False,  True],
       [False, False,  True, False, False, False,  True,  True,  True,
        False, False],
       [ True, False, False, False, False, False, False,  True, False,
        False,  True],
       [False,  True,  True, False, False, False, False, False, False,
        False,  True],
       [False, False, False, False, False,  True, False,  True, False,
        False,  True],
       [ True, False,  True, False, False, False, False,  True, False,
        False,  True],
       [False, False,  True, False, False, False,  True,  True, False,
        False,  True],
       [False, False,  True, False, False, False, False, False,  True,
        False, False],
       [ True, False, False,  True,  True,  True, False, False, False,
        False, False],
       [ True, False, False,  True,  True,  True, False, False, False,
        False, False],
       [False,  True, False, False,  True, False, False, False, False,
         True, False],
       [False, False,  True,  True,  True, False, False, False, False,
        False, False],
       [ True, False,  True, False, False, False, False, False, False,
         True, False],
       [False, False, False, False,  True,  True, False, False, False,
         True, False],
       [False,  True,  True, False, False, False, False, False, False,
         True, False],
       [False, False,  True, False,  True, False, False, False, False,
         True, False],
       [False, False,  True, False,  True, False, False, False, False,
         True, False],
       [False, False, False, False,  True,  True, False, False,  True,
        False,  True]])

In [53]:
te.columns_

['BISCUIT',
 'BOURNVITA',
 'BREAD',
 'COCK',
 'COFFEE',
 'CORNFLAKES',
 'JAM',
 'MAGGI',
 'MILK',
 'SUGER',
 'TEA']

# 컬럼과 데이터 병합

In [56]:
df = pd.DataFrame(trans_data, columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

# Apriori
지지도와 신뢰도를 설정해야됨. 여기서는 지지도 0.2, 신뢰도 0.6으로 할 것임

In [73]:
# 지지도 계산
sp = apriori(df, min_support=0.2, use_colnames=True, verbose=True).sort_values('support', ascending=False)
sp

Processing 42 combinations | Sampling itemset size 3

    support              itemsets
2      0.65               (BREAD)
3      0.40              (COFFEE)
0      0.35             (BISCUIT)
8      0.35                 (TEA)
4      0.30          (CORNFLAKES)
7      0.30               (SUGER)
5      0.25               (MAGGI)
6      0.25                (MILK)
1      0.20           (BOURNVITA)
9      0.20      (BISCUIT, BREAD)
10     0.20         (MILK, BREAD)
11     0.20        (SUGER, BREAD)
12     0.20          (TEA, BREAD)
13     0.20  (COFFEE, CORNFLAKES)
14     0.20       (SUGER, COFFEE)
15     0.20          (MAGGI, TEA)

In [74]:
# 신뢰도 계산
df_ar = association_rules(sp, metric='confidence', min_threshold=0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.75,0.250000
1,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.05,0.035714
2,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
3,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
4,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.25,0.750000

우유만 구매한사람의 비율은 25%, 빵만 산 사람의 비율이 65%, 우유를 산사람중 빵을 산사람이 80%

리프트는 1.2로 다른 아이템이 묶여서 사는 확률에 비해 높으므로 연관성이 있음

차를 구매한 사람 대비 매기의 판매가 2.28배 높음

id, 주문번호, 개수(상관없음), 제품명, 제품설명(제품에 포함된 재료의 이름), 가격 이 있음

매출액을 올리고 싶음. 이 데이터를 잘 분석하여 연관분석을 진행. 어떤 것을 사면 어떤 것을 같이 사더라! 하는 것을 확인

# 데이터 열기

In [76]:
ch = pd.read_csv('chipotle.csv')
ch

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# 아이템 이름과 주문된 횟수만으로 분석 진행

In [167]:
choice_data = ch[['order_id', 'item_name']]
choice_data

      order_id                              item_name
0            1           Chips and Fresh Tomato Salsa
1            1                                   Izze
2            1                       Nantucket Nectar
3            1  Chips and Tomatillo-Green Chili Salsa
4            2                           Chicken Bowl
...        ...                                    ...
4617      1833                          Steak Burrito
4618      1833                          Steak Burrito
4619      1834                     Chicken Salad Bowl
4620      1834                     Chicken Salad Bowl
4621      1834                     Chicken Salad Bowl

[4622 rows x 2 columns]

In [173]:
items = choice_data.groupby('order_id')['item_name'].apply(list)
items

order_id
1       [Chips and Fresh Tomato Salsa, Izze, Nantucket...
2                                          [Chicken Bowl]
3                           [Chicken Bowl, Side of Chips]
4                       [Steak Burrito, Steak Soft Tacos]
5                    [Steak Burrito, Chips and Guacamole]
                              ...
1830                      [Steak Burrito, Veggie Burrito]
1831                [Carnitas Bowl, Chips, Bottled Water]
1832            [Chicken Soft Tacos, Chips and Guacamole]
1833                       [Steak Burrito, Steak Burrito]
1834    [Chicken Salad Bowl, Chicken Salad Bowl, Chick...
Name: item_name, Length: 1834, dtype: object

In [178]:
print(type(items))
items = list(items)

<class 'pandas.core.series.Series'>

In [175]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [176]:
te = TransactionEncoder()

In [179]:
trans_data = te.fit(items).transform(items)
trans_data

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [181]:
len(te.columns_) # 50개

50

In [182]:
df = pd.DataFrame(trans_data, columns=te.columns_)
df

,6 Pack Soft Drink,Barbacoa Bowl,Barbacoa Burrito,Barbacoa Crispy Tacos,Barbacoa Salad Bowl,Barbacoa Soft Tacos,Bottled Water,Bowl,Burrito,Canned Soda,...,Steak Crispy Tacos,Steak Salad,Steak Salad Bowl,Steak Soft Tacos,Veggie Bowl,Veggie Burrito,Veggie Crispy Tacos,Veggie Salad,Veggie Salad Bowl,Veggie Soft Tacos
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1830,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1831,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1832,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1833,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [194]:
sp = apriori(df, min_support=0.05, use_colnames=True, verbose=True).sort_values('support', ascending=False)
sp

Processing 12 combinations | Sampling itemset size 32

     support                                itemsets
3   0.335333                          (Chicken Bowl)
4   0.266630                       (Chicken Burrito)
9   0.258451                   (Chips and Guacamole)
12  0.186478                         (Steak Burrito)
2   0.150491                     (Canned Soft Drink)
7   0.113413                                 (Chips)
11  0.102508                            (Steak Bowl)
0   0.083969                         (Bottled Water)
15  0.081243     (Chicken Bowl, Chips and Guacamole)
14  0.066521                   (Chips, Chicken Bowl)
16  0.062159  (Chicken Burrito, Chips and Guacamole)
13  0.060523       (Canned Soft Drink, Chicken Bowl)
8   0.059978          (Chips and Fresh Tomato Salsa)
6   0.058342                    (Chicken Soft Tacos)
10  0.055071                         (Side of Chips)
5   0.053435                    (Chicken Salad Bowl)
1   0.051254                           (Canned Soda)

In [195]:
# 신뢰도 계산
df_ar = association_rules(sp, metric='confidence', min_threshold=0.05)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Chicken Bowl),(Chips and Guacamole),0.335333,0.258451,0.081243,0.242276,0.937416,-0.005424,0.978653,-0.091277
1,(Chips and Guacamole),(Chicken Bowl),0.258451,0.335333,0.081243,0.314346,0.937416,-0.005424,0.969392,-0.082595
2,(Chips),(Chicken Bowl),0.113413,0.335333,0.066521,0.586538,1.749124,0.028490,1.607568,0.483072
3,(Chicken Bowl),(Chips),0.335333,0.113413,0.066521,0.198374,1.749124,0.028490,1.105985,0.644360
4,(Chicken Burrito),(Chips and Guacamole),0.266630,0.258451,0.062159,0.233129,0.902022,-0.006752,0.966979,-0.129005
5,(Chips and Guacamole),(Chicken Burrito),0.258451,0.266630,0.062159,0.240506,0.902022,-0.006752,0.965603,-0.127764
6,(Canned Soft Drink),(Chicken Bowl),0.150491,0.335333,0.060523,0.402174,1.199328,0.010059,1.111807,0.195642
7,(Chicken Bowl),(Canned Soft Drink),0.335333,0.150491,0.060523,0.180488,1.199328,0.010059,1.036604,0.250050