In [12]:
def hi(cnt):
    if cnt==0:
        return # 함수를 호출한 곳으로 되돌아감
    print("hi", cnt)
    cnt-=1
    hi(cnt)
    print("after hi", cnt)
hi(3)

hi 3
hi 2
hi 1
after hi 0
after hi 1
after hi 2

In [18]:
def factorial(n):
    if n==1:
        return 1
    return n*factorial(n-1)
factorial(4)

24

In [35]:
# def 미로찾기(현재위치):
#     미로찾기(오른쪽)
#     미로찾기(왼쪽)
#     미로찾기(왼쪽)
#     미로찾기(아래쪽) 무려 재귀가 4개!!.. 한개만 해도 어려운데...

재귀호출은 모든 경로 탐색을 위함. = 백트래킹   
삼성은 두 문제 출시함(대신 난이도가 높은듯)

lambda 식으로 작성하는 방법

In [62]:
# def 방식
def func1(x):
    return x+1

# lambda 방식 = 익명으로 함수정의
lambda x: x+1

# lambda식 함수정의
func2 = lambda x: x+1
x = 5

print(func2(x))
print((lambda x: x+1)(5))
print(func1(x))

# lambda식의 기본 형식은 내부에 새로 변수를 생성할 수 없음
# (lambda 매개변수들: 변수) (수식)) <= 람다식에 새로운 변수를 만들 수 없음

6
6
6

# 람다식 사용 예시

In [72]:
def add_one(x):
    res=[]
    for i in x:
        res.append(i+1)
    return res
# add_one(10)
i = [10,20,30]
add_one(i)

[11, 21, 31]

In [76]:
i = [10,20,30]
def add_one_2(x):
    return x+1
list(map(add_one_2,i))

[11, 21, 31]

In [78]:
i = list(range(10,31,10))
print(i)
list(map(lambda x:x+1, i))

[10, 20, 30]

[11, 21, 31]

In [88]:
nums = list(range(1,11))
list(map(lambda x: str(x), nums))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [91]:
# x에 저장된 값이 짝수면 str으로, 홀수이면 x값을 입력
list(map(lambda x: str(x) if x%2 == 0 else x, nums))

[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [100]:
a = list(range(1,11))
list(map(lambda x: x if x <= 5 else x*2, a))
# map함수는 map(함수=적용할 사항, 데이터=적용될 내용물) 이렇게 이해해야됨

[1, 2, 3, 4, 5, 12, 14, 16, 18, 20]

In [109]:
# 3만 float이 되도록.
list(map(lambda x: float(x) if x == 3 else x, a))

[1, 2, 3.0, 4, 5, 6, 7, 8, 9, 10]

In [114]:
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#1은 문자로 변환, 2는 실수로 변환, 3 이상은 10을 더하시오
#['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]
i = [1,2,3]
# 내꺼
list(map(lambda x: str(x) if x==1 else float(x) if x==2 else x+10 if x>=3 else x, a))

# 강사님꺼
list(map(lambda x: str(x) if x==1 else float(x) if x==2 else x+10 ,a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [133]:
# 리스트 2개 -> 입력 -> 람다함수 연산 -> 리스트 1개 출력
a = list(range(1,6))
b = list(range(11,16))
print(a)
print(b)

[1, 2, 3, 4, 5]
[11, 12, 13, 14, 15]

In [144]:
print(list(map(lambda x,y:x+y, a,b)))
print(list(map(lambda x,y:x*y, a,b)))

[12, 14, 16, 18, 20]
[11, 24, 39, 56, 75]

In [158]:
# filter = map = (함수, 데이터=리스트)
list(filter(lambda x: x>2, a))
# map은 하나씩 데이터를 변환
list(filter(lambda x: 5>x>2, a))
# filter는 조건에 따른 변환 추출(True만 추출, False는 삭제)

[3, 4]

In [160]:
def cum(x, y):
    return x+y
from functools import reduce
reduce(cum,a) # 누적된 결과. a에 저장된 데이터에 대해 cum함수를 수행한 누적결과
# 1 2 -> 3 3 -> 6 4 -> 10 5-> 15
# 근데 reduce는 잘 안쓰임

15

In [190]:
a = list(range(2,20,2))
# print(a)
list(filter(lambda x: 10<=x<=14, a))
b = list(map(lambda x: x if x==10 or x == 12 or x == 14 else 0, a))
b
# [i for i in a if 10 <= i <= 14]

[0, 0, 0, 0, 10, 12, 14, 0, 0]

In [191]:
list(map(lambda x: x if x in [10, 12, 14] else 0, a))

[0, 0, 0, 0, 10, 12, 14, 0, 0]

In [187]:
def bbb():
    k = 5
    print(k)
bbb()
# print(k) 지역변수이므로 k값을 출력할 수 없음.

5

In [195]:
def ddd():
    msg="hello"
    def eee(): # 함수 안에 함수를 정의함
        print(msg)
    eee()
ddd()

hello

In [ ]:
# 클래스 : 공통된 특성을 갖는 객체들의 모임
# 자동차 : 그랜저, 소나타, ... (ex-타이어, 마력, 탈것 등의 특성을 가짐)

In [201]:
class Car:
    def drive(self):
        print('자동차가 달립니다')
    hp = 30000
Car.drive('hungry')

자동차가 달립니다

In [204]:
gran = Car()
gran.drive()
gran.hp

자동차가 달립니다

30000

In [206]:
a = 10
type(gran)

__main__.Car

In [207]:
#클래스 정의
class  Car:
    def drive(self):
        print("자동차가 달립니다")
    def print_msg(self):
        self.drive()
    hp=3000

In [210]:
car_class = Car()
car_class.print_msg()
car_class.drive()

자동차가 달립니다
자동차가 달립니다

In [211]:
class Person(): 
    def hello(self):
        print("hello 함수 호출 완료")
print(Person())

<__main__.Person object at 0x0000020FFA403400>

In [231]:
class Person:
    def hello(self):
        print("hello 함수를 호출했습니다")
        print('저의 이름은 {0}이며, 나이는 {1}입니다.'.format(self.name, self.age))
    def __init__(self, na, ag, addr):
        self.name = na
        self.mymsg="반갑습니다"
        self.age = ag
        self.addr = addr
p = Person(na='홍길동', ag=25, addr='seoul')
p.hello()

hello 함수를 호출했습니다
저의 이름은 홍길동이며, 나이는 25입니다.

In [232]:
hgd = Person(na='홍길동', ag=25, addr='seoul')
hgd.age
hgd.hello()

hello 함수를 호출했습니다
저의 이름은 홍길동이며, 나이는 25입니다.

In [234]:
class Animal:
    def __init__(self,n_l, age, sp):
        self.num_leg = n_l
        self.age = age
        self.species = sp
    def sleep(self):
        print('{0} 종류의 동물은 {1}개의 다리를 가지고 있습니다.'.format(self.species ,self.num_leg))

In [236]:
puppy = Animal(4,20, 'Mammalia')
puppy.sleep()
baduki = Animal(4,20, "Mammalia")
baduki.sleep()

Mammalia 종류의 동물은 4개의 다리를 가지고 있습니다.
Mammalia 종류의 동물은 4개의 다리를 가지고 있습니다.