In [2]:
# ai담당업무 직원 뽑는다면 신입부터 팀장까지 직위는 따지지 않고 능력 있는 사람을 채용함
# 면접은 면접관 입장에서 면접준비를 해야됨
# 어쩔수없이 플젝인원은 334로 나눠야 될 것 같음... 내일까진 정할 것이며
# 다음주 수요일까지 주제를 찾고 진행해야될 것으로 생각됨. 또한 프로젝트에 대한 주제의 예상산출물이 있어야 할 것으로 생각됨

# 프로젝트 일정

1. 6.21(금) 4개 팀 선정(1ㄳㅇ,3우리팀?,3,4)명
2. 6.25(화) 4개 팀 확정
3. 6.26(수) 각 팀별 회의실 진행, 팀별 킥오프 미팅, 플젝 주제 검색, 팀장 선출, 팀명 선정, 전체 프로젝트 일정, 마일스톤, 데이터 출처, 개발방법(알고리즘)
4. 6.27~종료일 - 프로젝트 진행
5. 딥러닝(DNN, CNN, LSTM(RNN), GAN, YOLO), 자연어처리, 강화학습 등도 플젝과 동시에 오전 수업 진행(담주까지는)

In [5]:
# colaborative filtering(협업 필터링)
# https://kmhana.tistory.com/31 해당 주소를 참고하여 이해할 것
# https://github.com/missvickies/Recommendation-Systems 여기서 코드에 대한 설명이 있음
#   Item1 Item2 Item3 Item4 Item5
# Alice 5   3      4    4     ?
# User1 3   1      2    3     3
# User2 4   3      4    3     5
# User3 3   3      1    5     4
# User4 1   5      5    2     1
# 위와 같은 상황일 때, 앨리스는 아이템5에 몇점을 줄까?

# 몇가지 첫번째 질문들
# 1. 유사성은 어떻게 측정하지?
# 2. 몇 명의 이웃을 고려해야 하나?
# 3. 이웃의 평가에서 예측을 생성하려면 어떻게 해야 하나?

# 1번에 대한 답으로는 a,b유저의 거리 구하는 방법올 피어슨 상관계수를 이용하여 유사성 측정 가능(가장 인기있는 방법)
# 근데 유사도로 봤을 때 유저1이 앨리스와 가장 유사한데 그럼 3점을 주나? 앨리스는 3점이 제일 낮은 점수인데??
# 앨리스의 최대점수 5점, 유저1의 최대점수 3점을 생각하면 예상 점수는 5가 아닐까?
# 유저기반(평점유사도)과 아이템기반(특정 아이템을 좋아한 사용자를 탐색) 추천시스템이 있다면 어느쪽이 더 좋을까? 정답은 없음(개인적으로 유저기반이 아닐까 싶긴한데)
# 일반적으로 유저기반으로 하는 것이 패턴이 닮아 있는 사람을 찾기 수월하다고 하심
# 두가지 기반 모두 유사도를 측정하는데 방법은 코사인, 피어슨, 유클리드 거리 등을 이용함

# 행렬분해(matrix factorization: MF)
# 특이값분해(SVD) 정리를 기반으로 진행

행렬분해
![행렬분해짤](행렬분해이미지.png)

In [ ]:
# 내일 오전 타이타닉 오후는 딥러닝

In [1]:
# 영화 추천 시스템 만들기
# https://www.kaggle.com/datasets/sengzhaotoo/movielens-small 파일 다운로드

In [2]:
# Leaving Las Vegas (1995) 영화가 맘에 들었다고 가정
import pandas as pd
import numpy as np

In [73]:
movie_data = pd.read_csv('movies/movies.csv') # 영화 데이터
rating_data= pd.read_csv('movies/ratings.csv').drop('timestamp',axis=1) # 사용자 - 평점 데이터
print(movie_data.shape)
print(rating_data.shape)
movie_data.head()

(9125, 3)
(100004, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [74]:
user_movie_rating = pd.merge(rating_data, movie_data, on='movieId')
user_movie_rating.head()

   userId  movieId  rating                   title genres
0       1       31     2.5  Dangerous Minds (1995)  Drama
1       7       31     3.0  Dangerous Minds (1995)  Drama
2      31       31     4.0  Dangerous Minds (1995)  Drama
3      32       31     4.0  Dangerous Minds (1995)  Drama
4      36       31     3.0  Dangerous Minds (1995)  Drama

In [75]:
movie_user_rating = user_movie_rating.pivot_table('rating', index='title', columns='userId')
print(movie_user_rating.shape)
movie_user_rating.head()

(9064, 671)

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
user_movie_rating = user_movie_rating.pivot_table('rating', index='userId', columns='title')
user_movie_rating.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
movie_user_rating.info()
movie_user_rating.isnull().sum() # 몇개의 영화에 평점을 안 매겼는지

<class 'pandas.core.frame.DataFrame'>
Index: 9064 entries, "Great Performances" Cats (1998) to İtirazım Var (2014)
Columns: 671 entries, 1 to 671
dtypes: float64(671)
memory usage: 46.5+ MB

userId
1      9044
2      8988
3      9013
4      8860
5      8964
       ...
667    8996
668    9044
669    9027
670    9033
671    8949
Length: 671, dtype: int64

In [53]:
movie_user_rating.T.isnull().sum() # 영화에 대해 몇개의 null값이 있는지 확인

title
"Great Performances" Cats (1998)             669
$9.99 (2008)                                 668
'Hellboy': The Seeds of Creation (2004)      670
'Neath the Arizona Skies (1934)              670
'Round Midnight (1986)                       669
                                            ...
xXx (2002)                                   648
xXx: State of the Union (2005)               670
¡Three Amigos! (1986)                        640
À nous la liberté (Freedom for Us) (1931)    670
İtirazım Var (2014)                          670
Length: 9064, dtype: int64

위와 같이 본 사람이 한 두명밖에 없으면 삭제하는 게 나을 수도 있음

반면, 영화를 너무 안봐서 오히려 추천하고 싶을 수도 있음 => 그럼 시청한 사람의 성향과 비슷한 사람에게 추천

In [77]:
# 아이템 기반 협업 필터링: ~영화를 본 관객들은 다른 영화도 볼 것이다.
movie_user_rating.fillna(0, inplace=True) # NaN을 0으로 대체
movie_user_rating.head() # Leaving Las Vegas (1995)와 비슷한 평가점수  분포를 띄는 영화를 검색하여 추천

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Neath the Arizona Skies (1934),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# 리빙 라스베가스와 토이 스토리를 비교해서 추천하고 싶을 때 코사인 유사도를 사용한다면, 
# 토이스토리와 라스베가스 영화의 좌표 각도를 비교하는 것임
# 그럼 이 각도는 몇차원의 각도일까? 671차원 벡터의 각도라고 할 수 있음
# 각도가 작을수록 굉장히 닮은 것임 = 점수의 분포도 비슷해짐
# 결론적으로 각도라는 것이 겉으로는 2차원일 수 있는데 좌표를 따졌을 땐 좌표를 구성하는 피처의 종류가 많으므로 피처수만큼 차원이 늘어남
# 유클리드 거리는 알고 있으니 코사인 유사도와 유클리드 유사도를 비교해서 어느쪽이 좋은지 봐야함

ml 3일차에 설명한 내용임

유클리드 거리로 계산하면 부족한 요소도 있음

추천영화시스템으로 A(기본) = (20,0) B(사랑) = (0,20) C(돈) = (100, 0) 이렇게 있을 때 거리로 따지면 B라는 것과 연결 짓겠지만 분류로는 C에 가까움. 이러면 유클리드 거리를 쓰는 것이 틀린 방법이 됨.

이에 따라 cos(코사인)유사도 방식으로 구하는 방법을 적용

 ?|딥러닝|머신러닝|나는|
|--|---|--|---|
영화1|0|1|1|
영화2|1|0|1|
영화3|2|2|2|
영화4|1|1|1|

이렇게 있다면 3차원 공간임(피처 개수로 보면 됨)
영화4와 비슷한 영화는? = 영화1,2
영화3과 4는 방향이 완전히 일치함. 다만 크기가 다름
그래서 코사인 유사도를 구할 땐 방향과 크기가 같이 들어가는데 중요한 건 각도임

In [78]:
m1=np.array([0,1,1])
m2=np.array([1,0,1])
m3=np.array([2,2,2])
m4=np.array([1,1,1])

In [89]:
def cossim(a,b): # 코사인 유사도 구하는 함수
    return np.dot(a,b) / (np.linalg.norm(a) * np.linalg.norm(b))
print(cossim(m1,m4))
print(cossim(m2,m4))
print(cossim(m3,m4)) # 제일 유사함

2
2
6

영화4와 영화4의 유사도는? = 1임.
같은 영화는 유사도를 보는 것이 의미가 없음

In [90]:
from sklearn.metrics.pairwise import cosine_similarity

In [97]:
item_based_cola_sim = cosine_similarity(movie_user_rating)
print(item_based_cola_sim.shape)
item_based_cola_sim

(9064, 9064)

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.05821787, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.05821787, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [98]:
item_based_cola_sim[0] # 자신과의 코사인 유사도

array([1., 0., 0., ..., 0., 0., 0.])

In [106]:
movie_user_rating

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Neath the Arizona Skies (1934),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Three Amigos! (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
İtirazım Var (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
movie_user_rating.loc['Leaving Las Vegas (1995)']
# Leaving Las Vegas (1995) 영화에 대한 코사인 유사도가 가장 높은 한편의 영화제목을 출력(자신 제외)

userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
667    2.0
668    0.0
669    0.0
670    5.0
671    0.0
Name: Leaving Las Vegas (1995), Length: 671, dtype: float64

In [103]:
item_based_cola_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.05821787, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.05821787, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [110]:
cosine_df = pd.DataFrame(item_based_cola_sim, index=movie_user_rating.index, columns=movie_user_rating.index)
cosine_df

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",1.000000,0.000000,0.0,0.164399,0.020391,0.0,0.014046,0.000000,0.000000,0.003166,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0000
$9.99 (2008),0.000000,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.079474,0.000000,0.156330,...,0.000000,0.000000,0.0,0.000000,0.0,0.013899,0.000000,0.058218,0.0,0.0000
'Hellboy': The Seeds of Creation (2004),0.000000,0.000000,1.0,0.000000,0.000000,1.0,0.000000,0.217357,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0000
'Neath the Arizona Skies (1934),0.164399,0.000000,0.0,1.000000,0.124035,0.0,0.085436,0.000000,0.000000,0.019259,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0000
'Round Midnight (1986),0.020391,0.000000,0.0,0.124035,1.000000,0.0,0.010597,0.143786,0.000000,0.136163,...,0.000000,0.000000,0.0,0.121567,0.0,0.000000,0.000000,0.000000,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),0.000000,0.013899,0.0,0.000000,0.000000,0.0,0.000000,0.123940,0.000000,0.144961,...,0.161281,0.076029,0.0,0.017465,0.0,1.000000,0.152057,0.140222,0.0,0.2661
xXx: State of the Union (2005),0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.134815,...,0.000000,0.000000,0.0,0.000000,0.0,0.152057,1.000000,0.000000,0.0,0.0000
¡Three Amigos! (1986),0.000000,0.058218,0.0,0.000000,0.000000,0.0,0.081620,0.331663,0.214498,0.064908,...,0.112588,0.159223,0.0,0.166622,0.0,0.140222,0.000000,1.000000,0.0,0.0000
À nous la liberté (Freedom for Us) (1931),0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.0000
İtirazım Var (2014),0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.134815,...,0.000000,0.000000,0.0,0.000000,0.0,0.266100,0.000000,0.000000,0.0,1.0000

In [114]:
cosine_df.drop('Leaving Las Vegas (1995)', axis=1, inplace=True)
print(cosine_df.shape) # 열이 삭제됐는지 확인

(9064, 9063)

In [145]:
# 코사인 유사도가 가장 큰 인덱스의 영화를 추출
cosine_df.loc['Leaving Las Vegas (1995)'].sort_values(ascending=False).index[0]

'Dead Man Walking (1995)'

In [148]:
# 영화가 입력되면 유사도가 가장 높은 5편의 영화 제목을 출력

import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [157]:
movies = pd.read_csv('movies/movies.csv')
ratings = pd.read_csv('movies/ratings.csv')
movie_title = "'Neath the Arizona Skies (1934)"
print(movies.shape)
print(ratings.shape)
movies.head()

(9125, 3)
(100004, 4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [155]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [158]:
df = pd.merge(movies, ratings).drop('timestamp', axis=1)
df.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0

In [164]:
rating_title = df.pivot_table('rating', index='title', columns='userId')
rating_title.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
rating_title.fillna(0, inplace=True) # 0으로 채우기

In [186]:
res = pd.DataFrame(cosine_similarity(rating_title), index=rating_title.index, columns=rating_title.index)
res.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",1.000000,0.0,0.0,0.164399,0.020391,0.0,0.014046,0.000000,0.0,0.003166,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
$9.99 (2008),0.000000,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.079474,0.0,0.156330,...,0.0,0.0,0.0,0.000000,0.0,0.013899,0.0,0.058218,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.000000,0.0,1.0,0.000000,0.000000,1.0,0.000000,0.217357,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
'Neath the Arizona Skies (1934),0.164399,0.0,0.0,1.000000,0.124035,0.0,0.085436,0.000000,0.0,0.019259,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
'Round Midnight (1986),0.020391,0.0,0.0,0.124035,1.000000,0.0,0.010597,0.143786,0.0,0.136163,...,0.0,0.0,0.0,0.121567,0.0,0.000000,0.0,0.000000,0.0,0.0

In [188]:
# movie_title = input('input movie title')
res_lst = res.drop(movie_title, axis=1).loc[movie_title].sort_values()[-5:]
res_lst

title
Friday (1995)                  0.274618
Ali G Indahouse (2002)         0.680414
100 Rifles (1969)              1.000000
Career Opportunities (1991)    1.000000
Amelia (2009)                  1.000000
Name: 'Neath the Arizona Skies (1934), dtype: float64

In [189]:
# 영화가 입력되면 유사도가 가장 높은 5편의 영화 제목을 출력

import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [190]:
movies = pd.read_csv('movies/movies.csv')
ratings = pd.read_csv('movies/ratings.csv')
print(movies.shape)
print(ratings.shape)
movies.head()

(9125, 3)
(100004, 4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [192]:
movie = input('input movie name')
def top5_cosine_similarity_movies(movie_title):
    df = pd.merge(movies, ratings).drop('timestamp', axis=1)
    rating_title = df.pivot_table('rating', index='title', columns='userId')
    rating_title.fillna(0, inplace=True)
    res = pd.DataFrame(cosine_similarity(rating_title), index=rating_title.index, columns=rating_title.index)
    res_lst = res.drop(movie_title, axis=1).loc[movie_title].sort_values()[-5:]
    print(res_lst)
top5_cosine_similarity_movies(movie)

title
Pirates! Band of Misfits, The (2012)    0.651203
100 Rifles (1969)                       0.680414
Amelia (2009)                           0.680414
'Neath the Arizona Skies (1934)         0.680414
Career Opportunities (1991)             0.680414
Name: Ali G Indahouse (2002), dtype: float64